h1{
color : green;
}
span{
color: blue;
font-size: 18px;
}
body{
font-family: gigi, century;
font-size: 1em;
}
h1{
margin: 10% 30% 0 30%;
}
h2{
margin-top: 15em;
}
ul{
background-color:grey;
}
ul li{
display:none;
}
ul:hover li {
display:block;
position:relative;
top:0;
left:-25px;
}
#wiwi{
background-color: #045796;
}
#wiwi ul{
font-family: Arial, Sans-Serif;
}
p{
font-size: 40px
}
b{
font-size:60px;
}
a{
font-size:30px
}

.zoom {
height:400px;
margin:auto;
}
.zoom p {
text-align:center;
}
.zoom img {
width:300px;
height:225px;
}
.zoom img:hover {
width:400px;
height:300px;
}