<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--tables-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
 
<div class="col-md-8 col-lg-6">
<table id="tableau1"></table>
</div>

<button type=button id="btn1">click</button>

<script type="text/javascript">
$('#btn1').click(function () {
$('#tableau1').bootstrapTable({
url: 'house.json',
columns: [{
field: '_id',
title: 'Id Maison'
}, {
field: 'name',
title: 'Nom Maison'
},]
});
});
</script>