<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--tables-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<br>
<body>
Saisir nom le nom du personnage <input id="Nomp" type="text" required placeholder="Nom" name="NomVille"></input>
<input id="btn2" type="submit" value="Rechercher"></input>

<br>

<div id="tableau1"></div>
<script type="text/javascript">
$('#btn2').click(function(){
	var a = $('#Nomp').val();
	var b = 'https://api.got.show/api/characters/';
	var rec = b + a;
	$.ajax(rec,
	{
		type:'GET',
		success: function(resultat){
			var id = resultat.data._id;
			var nom = resultat.data.name;
			var sexe = resultat.data.male;
			var maison = resultat.data.house;
			var pRank = resultat.data.pageRank;
			var livre = resultat.data.books;
			var titre = resultat.data.titles;
			$('#tableau1').html('ID du personnage : '+id+'<br>Nom du personnage : '+nom+ '<br> Homme :' +sexe+'<br> Maison : '+maison+'<br>Rang de la page : ' + pRank + '<br> Livres :'+ livre+ '<br>Titres : ' + titre);
		}
	});
});
</script>

</body>