<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--tables-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<br>
<body>
Saisir nom de la ville <input id="Nomv" type="text" required placeholder="Nom" name="NomVille"></input>
<input id="btn2" type="submit" value="Rechercher"></input>
test : Oxcross/Saath
<br>

<div id="tableau1"></div>

<script type="text/javascript">
$('#btn2').click(function(){
	var a = $('#Nomv').val();
	var b = 'https://api.got.show/api/cities/';
	var rec = b + a;
	$.ajax(rec,
	{
		type:'GET',
		success: function(resultat){
			var id = resultat.data._id;
			var nom = resultat.data.name;
			var coordX = resultat.data.coordX;
			var coordY = resultat.data.coordY;
			var typeVille = resultat.data.type;
			var prio = resultat.data.priority;
			$('#tableau1').html('ID de la Ville : '+id+'<br>Nom de la ville : '+nom+ '<br> Coordonnees Geographique X et Y' + coordX+' -  '+coordY+'<br>Type : ' + typeVille + '<br> priorite :'+ prio);
		}
	});
});
</script>

</body>